body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dialog,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;color:#333;}h1,h2,h3,h4,h5,h6{font-size:100%;}address,cite,em,var{font-style:normal;}code,kbd,pre,samp{font-family:courier new,courier,monospace;}ul,ol{list-style:none;}a{text-decoration:none;}a:hover{text-decoration:none;}legend{color:#333;}fieldset,img{border:0 none;vertical-align:top;}button,input,select,textarea{font-size:100%;overflow:visible;}table{border-collapse:collapse;border-spacing:0;}article,aside,details,figcaption,figure,footer,header,menu,nav,section,time,audio,video{display:block;margin:0;padding:0;}
body,button,input,select,textarea{font:16px/1.5 Microsoft Yahei,arial,tahoma,simsun,sans-serif;}
html{min-width:75rem}
.clearfix:after{
	clear:both;
	content:"";
	display:table;
}
.clearfix{
	*zoom:1;
}
.pointer{
	cursor:pointer;
}
.center1200{
	width:75rem;
	margin:0 auto;
}
.router-link-active{
	color:#333
}
	